*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    gap: 2rem;
    border-radius: 10px;
}
