@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family: digit;
    src: url(../fonts/digital-7.ttf);
}

.header-container{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -22px; */
}
.logo{
    margin-left: 2rem;
    font-size: 1.7rem;
}
.tail{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 4rem;
}
.tail .timer{
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    font-family: digit;
    
}
.tail button{
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    background-color: rgb(18, 180, 18);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
