*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.admin-header{
    width: 250px;
    height: 100vh;
    border-radius:0 40px  40px 0;
    border: 1px solid #888;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    position: fixed;
}
.addlogical{
    min-height: 100vh;
    margin-bottom: 2rem;
}
.head{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.head .list{
    display: flex;
    margin-top: 15rem;
    margin-left: 1rem;
    flex-direction: column;
    gap: 2.5rem;
}
.admin-header img {
    width: 150px;
    height: 100px;
}

.icons{
    font-size: 25px
}
.AdminaddQuestion,.uploadmcq,.result{
    margin-left: 250px;
}
.addQ-container{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.question-head{
    width: 600px;
    padding: 20px;
    border: 2px solid #888;
}
.questions{
    width: 600px;
    height: 100%;
    margin-top: 20px;
    border: 2px solid #888;
    display: flex;
    
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.input-question{
    width: 80%;
    height: 60px;
    border: none;
    outline: none;
    
}
.addQ-container h1{
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}
.input-question textarea{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    border: 2px solid #888;
    padding: 6px;
    border-radius: 8px;
    resize: none;
}
.options{
    width: 80%;
    border: none;
    outline: none;
    padding: 6px;
    padding: 20px;
    margin-top: 40px;
}
.question-head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
.question-head input{
    padding: 6px;
}
.title input{
    width: 400px;
    border: none;
    border: 1px solid #e0e0e0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: none;
    border-radius: 6px;
}
.description textarea {
    width: 400px;
    outline: none;
    height: 150px;
    border: 1px solid #e0e0e0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
    resize: none;
    padding: 8px;
    border-radius: 8px;
}

.options input{
    border: none;
    outline: none;
    border-bottom:2px solid #888 ;
}

.Logical-questions{
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-logicals{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.Logical-questions h1{
    font-size: 20px;
    color: #555;
    margin-top: 20px;
}
.test-cases{
    width: 1200px;
    margin-top: 20px;

    border-radius: 8px;
    padding: 20px;
}
.no-of-text-cases input{
    margin-left: 10px;
    width: 50px;
    height: 30px;
    border: 2px solid #888;
    border-radius: 8px;
}
.input-text-cases{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-text-cases textarea{
    margin-top: 20px;
    margin-left: 10px;
    width: 80%;
    height: 80px;
    resize: none;  
    outline: none;
    padding: 7px;
}
.test-case{
    display: flex;
    align-items: center;
    gap: 10px;
}
.test-case textarea{
    width: 500px;
    height: 150px;
    border: none;padding-left: 15px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.question-head{
    border: 1px solid #e0e0e0;
}

.questions{
    border: none;
    border: 1px solid #e0e0e0;
}
.input-question textarea{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #e0e0e0;
}   
.first-col{
    display: flex;
}
.add-icon-btn{
    width: 40px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 30px;
    box-shadow: rgba(50, 50, 50, 0.395) 0px 2px 8px 0px;
    border-radius: 10px;
}